* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

.container {
          display: grid;
          /* กำหนดคอลั่มแบบจำนวนครั้งได้ */
          /* grid-template-columns: repeat(8, minmax(100px, 1fr)); */
          /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
          /* grid-template-rows: 50px 200px 100px; */
          /* grid-template-columns: 1fr 2fr; */
          /* รวม คอลั่มกับโรล */
          /* grid-template: 50px 200px 100px / 1fr 2fr; */

          /* grid-template-areas:
                    "head head head"
                    "sidebar main main"
                    "sidebar foot foot2"; */

          /* column-gap: 1em;
          row-gap: 1em; */
          gap: 0.6em;
                    
          div {
                    border: 2px solid green;
                    min-height: 7em;
          }
}



.box1 {
          background-color: beige;
          /* width: 100vw; */
          border: 2px solid red;
          /* grid-area: head; */
          /* grid-column-start: 1;
          grid-column-end: 4; */
          grid-column: 1/span 3;
}

.box2 {
          background-color: rebeccapurple;
          /* grid-area: sidebar; */
          /* grid-row-start: 2;
          grid-row-end: 4; */
          /* grid-row: 2/4; */
          grid-row: 2/span 2;


}

.box3 {
          background-color: greenyellow;
          /* overflow: auto; */
          /* grid-area: main; */
}

.box4 {
          background-color: pink;
          /* grid-area: foot; */
}
.box5 {
          background-color: beige;
          /* grid-area: foot2; */
          grid-row-start: 3;
          grid-row-end: 5;
}
.box6 {
          background-color: gold;
          ;
}
.box7 {
          background-color: gray;
          ;
}
.box8 {
          background-color: red;
          ;
}